/* Reset and Box-sizing */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* CSS Variables */
:root {
  --main-bg-color: #fb3812;
  --main-border-color: #000000;
  --active-bg: #181818;
  --retro-black: rgb(23, 37, 33);
  --gold-metallic: rgba(218, 165, 32, 1);
  --light-orange: rgb(251, 140, 0);
  --light-grey: rgb(202, 202, 202);
  --icon-color: #9d9d9d;
  --txt-color: rgb(20, 24, 22);
  --dark-color: rgb(0, 0, 0);
  --grey-color: rgb(155, 161, 181);
  --white: #ffffff;
  --loading: #202020;
  --border-error: #e74c3c;
  --border-success: #2ecc71;
  --transition-time: 0.3s;
}

/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-image: url("ruoka.jpg");
}

/* Navigation */
nav {
  background-color: black;
  height: 70px;
  padding: 10px 25px;
}
nav ul {
  list-style: none;
  margin: 10px;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
nav h1 {
  color: var(--gold-metallic);
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Hero Image */
#hero-image {
  height: 40vh;
  min-height: 300px;
  max-height: 700px;
  width: 100%;
  background-color: rgb(133, 16, 16);
  background-image: url("hedelmit.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

/* Main Image Styles */
img {
  width: 100%;
}
#porkkana_kuva {
  width: 150px;
  height: auto;
  position: absolute;
  bottom: 80%;
  right: 0;
}

/* Home Section */
.home {
  margin: 40px auto 20px auto;
  padding: 20px;
  max-width: 900px;
  font-size: large;
}

/* Info Section */
.info {
  background-image: url("ruoka.jpg");
  position: relative;
  float: center;
  width: 100%;
  margin: 20% auto;
  padding: 20px;
  max-width: 900px;
}
.ravintola-kuva {
  float: left;
  width: 30%;
  margin-right: 40px;
  margin-top: 10px;
}

/* Text Styles */
p {
  color: black;
  margin-bottom: 10px;
}
#lause {
  font-size: 40px;
  margin-bottom: 10px;
}
#teksti {
  font-size: 25px;
  margin-bottom: 10px;
}

/* Icon Styles */
#Kuva {
  width: 50px;
  position: absolute;
  top: 25px;
  right: 0;
  cursor: pointer;
}

/* Footer */
footer {
  background-color: #970606;
  padding: 20px;
  text-align: center;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Container */
.container {
  display: none;
  width: 500px;
  margin: 100px auto;
  padding: 80px;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  line-height: 2.5;
}

/* Form Containers */
.form-container {
  display: none;
}
.form-container.active {
  display: block;
}

/* Form Inputs */
input {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--light-grey);
  border-radius: 15px;
  text-align: center;
  transition: border-color var(--transition-time);
}

/* Valid and Invalid Styles */
input:valid {
  border-color: var(--border-success);
}
input:invalid {
  border-color: var(--border-error);
}

/* Form Labels */
label {
  display: block;
  text-align: right;
  margin-bottom: 0;
  font-weight: bold;
}

/* Buttons */
button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color var(--transition-time);
}
button:hover {
  background-color: #218838;
}

/* Switch Button */
.switch-btn {
  margin: 10px 0;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color var(--transition-time);
}
.switch-btn:hover {
  background-color: #0056b3;
}

/* Form Titles */
h2 {
  color: var(--txt-color);
  border-radius: 5px;
  width: 100%;
}

/* Close Icon */
#Logo {
  width: 200px;
  cursor: pointer;
}

/* Media Queries */
@media (max-width: 430px) {
  nav {
    background-color: black;
    height: auto;
    width: 100%;
  }
  nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  nav ul li a i #kuva {
    display: inline;
    position: absolute;
    top: 50px;
  }
  nav ul li {
    display: block;
    margin: 10px 0;
    text-align: start;
  }
  label {
    text-align: center;
    width: 100%;
  }
  #porkkana_kuva {
    width: 20%;
    position: absolute;
    bottom: 95%;
    left: 95%;
    transform: translateX(-80%);
  }
  h2 {
    border: 0.5px solid #000; /* Adjust the border width and color as needed */
    padding: 0.5px; /* Optional: Add some padding for better appearance */
    text-align: center; /* Optional: Center the text */
  }
  #lause {
    font-size: 30px;
  }
  .container {
    width: 100%;
  }
  .info {
    text-align: center;
  }
  #Kuva {
    width: 50px;
    position: absolute;
    top: 65px;
    right: 0;
    cursor: pointer;
  }
  div p {
    text-align: center;
  }
  div p .ravintola-kuva {
    width: 380px;
    height: 300px;
  }
}
